/* global */
:root {
    --bg-avatar: #ffffff;
    --switch-bg-url: url(../img/mode/MoonStars.svg);
    --bg-default: url(../img/bg/bg-desktop-light.jpg);
    --text-color: #242423;
    --eyes-color: #000000;
    --bg-color-icon: #52b788;
    --icon-svg: url(../img/verification/heart-svgrepo-com.svg);
}

.light {
--bg-avatar: #1b1b1e;
--switch-bg-url: url(../img/mode/Sun.svg);
--bg-default: url(../img/bg/bg-desktop.jpg);
--text-color: #ffffff;
--eyes-color: #3a2044;
}

.fail {
    --bg-color-icon: #a4161a;
    --icon-svg: url(../img/verification/heart-broken-svgrepo-com.svg);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Handjet', cursive;
	height: 100vh;
    background: var(--bg-default) no-repeat top center/cover;
    color: var(--text-color);
}

body,
section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

/* avatar */

.false .eyes span {
    display: none;
}

.icon-heart {
    background: var(--bg-color-icon) var(--icon-svg) no-repeat center;
}

.false#result-cpf {
    display: none;
}

/* switch */
#switch button {
    background: #ffffff var(--switch-bg-url) no-repeat center;
}

.light #switch button {
    animation: mode-in .4s forwards;
  }

#switch button:hover {
    box-shadow: 1px 1px 10px 10px var(--surface-color);
}

#switch span {
    border: 1px solid var(--text-color);
  }

/* field */

input {
    background-color: var(--bg-avatar);
    color: var(--text-color);
}

.interaction button {
    background: var(--bg-avatar);
   }

/* animation */

@keyframes mode-in {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}